.header{
    text-align: center;
    position:relative;
    width: 100%;
    padding-top: 10px;
    
}

.header a{
    
    display: inline-block;
    color: rgb(29, 29, 29);
    font-size: 16px;
    line-height: 7px;
    border-right: 1px solid #b4b4b4;
    font-family: 'Arial', sans-serif;
    padding: 12px 20px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}